<form action="/updatepassword" method="post">
<label>Password:</label>
<div><input name="password" type="password" /></div>
</br>
<label>Confirm Password:</label>
<div><input name="re_password" type="password" /></div>
</br>
<div><input type="submit" /></div>
</br>
</form>