<div style ="width :100%">
<div style ="border : 1px solid black;height:150px;width :400px;float:left">
<h1>Number of user waiting</h1>
 <select id="users-list" size="5"></select>
</div>

<div id="main1" style ="border : 1px solid black;height:150px;width :400px;float:right">
<h1>Number of Game</h1>
</div>
</div>