@charset "utf-8";
/* CSS Document */

body
{
	margin:0; 
	padding:0;
	overflow-x: hidden;
	font-family:"Open Sans Light";
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src:url(../fonts/OpenSans-Light.ttf)

}

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 300;
  src:url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 300;
  src:url(../fonts/OpenSans-Bold.ttf)
  }

input[type=text]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
 	 -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
input[type=text]:focus
{
  width: 205px;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

input[type=email]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
 	 -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
input[type=email]:focus
{
  width: 205px;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

input[type=password]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
 	 -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
input[type=password]:focus
{
  width: 205px;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

input[type=submit]
{
  border: 1px solid #ccc;
  cursor:pointer;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:240px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
 	 -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
input[type=submit]:focus
{
  width: 220px;
  cursor:pointer;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

#tabs
{
}



#tabs li /*Styling the li part of the menu*/
{
    float:left;
	font-size:18px;
    padding:4px 10px 4px 10px;
    display:inline-block;
    position:relative;
    text-align:center;
    margin-right:30px;
    margin-top:7px;
    border: 1px solid black;
    /*color:#CCCCCC;*/
}

#tabs li a /*Styling the link part of the menu li*/
{
    text-decoration:none;
    color:#000;
    text-shadow:none
}	

#tabs li:hover a /*Styling the link part of the menu li in hover state*/
{
    color:#000;
	text-shadow:1px 1px 5px #6FF;
}